# Ignore everything in main dir:
/*

# Except
!.gitignore
!README.md
!ref/
!scripts/
!data/

# Ignore these directories/files with exceptions:
# Ref folder
ref/*
!ref/*.gz

# Data folder
data/* 
!data/README.md
