# Ignore everything:
/*

# Except
!.gitignore
!README.md

# Except for the these directories/files:
# Ref folder
!ref/GC_AffySNP6_102015.txt.gz

# Data folder 
!data/README.md

# Scripts folder
!scripts/
